html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url('./open\ sea.jpg') no-repeat 50% 50% ;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
}

.content{
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: rgb(231, 223, 223);
    font-weight: bold;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: rgb(243, 241, 241);
    padding: 0;
    text-align:center;
    margin: 0;
    transition: ls;
}

nav.black ul{
    background: #000;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(68, 216, 88, 0.719);
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
    background-color:rgb(35, 128, 131);
  }
  #navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  img{
    shape-outside: circle(50%);
  }
